<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>중고 자동차 쇼핑몰</h1>
    <table>
        <tr>
            <th>no</th>
            <th>이름</th>
            <th>가격</th>
            <th>회사</th>
            <th>년</th>
        </tr>
        <%
        for(var car of carList) {
        %>
        <tr>
            <% for(var dat in car){%>
                <td><%=car[dat] %></td>
            <% } %>
        </tr>
        <%
        } // end of for
        %>
    </table>
</body>
</html>